body{
    background-color: rgb(192, 193, 196);
}

.homeStrona .tekst{
    padding: 10px;
    margin-top: 40px;
    text-align: center;
}

.homeStrona .tekst .naglowek{
    font-size: 4rem;
    color: black;
    margin-bottom: 60px;
}

.homeStrona .tekst .opis{
    text-align: left;
    margin-left:20%;
    margin-right: 20%;
    font-size: 2rem;
}


/* .navbar button{
    margin-right: auto;
    border: none;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(47, 49, 59);
    color: rgb(228, 222, 222);
    margin-right: 5px;
}

.navbar button:hover{
    color: green;
}

.navbar a{
    margin-left: 16px;
    color: rgb(228, 222, 222);
    background-color: rgb(47, 49, 59);
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover{
    color: green;
} */