body {
  background-color: rgb(47, 49, 59);
}

.zdjecie {
  /* background-color: rgb(47, 49, 59); */
  width: 100vw;
  height: auto;
  justify-content: space-evenly;
  text-align: center;
}

.g_tekst {
  color: rgb(47, 49, 59);
  font-size: 4rem;
  text-align: center;
  background-color: rgb(192, 193, 196);
}

.stronaKategoria {
  /* głupie ale działa */
  background-color: rgb(47, 49, 59);
  width: 100vw;
  justify-content: space-evenly;
  text-align: center;
}

.przyciskGalerii {
  width: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
}

.przyciskGalerii:hover {
  background-color: rgb(177, 177, 177);
}

.przyciskGalerii:active {
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.1s;
}

.przyciskGalerii2 {
  width: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 0.75rem;
}

.przyciskGalerii2:hover {
  background-color: rgb(177, 177, 177);
}

.przyciskGalerii2:active {
  box-shadow: none;
  transform: translateY(2px);
  transition: 0.1s;
}

.galleryManager{
  display: flex;
  flex-direction: column;
  text-align:end;
  background-color: rgb(192, 193, 196);
  padding: 3px;
  padding-right: 1.5rem;
}

.nazwaUsuwanejGalerii{
  margin-right: 7px;
}