body{
    background-color: rgb(47, 49, 59);
}

.zdjecie{
    /* background-color: rgb(47, 49, 59); */
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    text-align: center;
}

.g_tekst{
    color: rgb(47, 49, 59);
    font-size: 4rem;
    text-align: center;
    background-color: rgb(192, 193, 196);
}

.stronaKategoria{
    /* głupie ale działa */
    background-color: rgb(47, 49, 59);
    width: 100vw;
    justify-content: space-evenly;
    text-align: center;
}

