@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  font-size: 20px;
  /* background-color: rgb(138, 142, 161); */
}
