.element_dziecko{
    display: flex;
}

.child{
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    padding: 2px;
    margin-right: 10px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border:0.5px solid black;
    margin-bottom: 10px;
    background-color: rgb(211, 211, 211);
}

.przycisk{
    margin-top: 3px;
    width: 75px;
    height: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
    font-size: 0.75rem;
}