.moj_div{
    background-color: rgb(47, 49, 59);
    width: 100vw;
    height: auto;
    justify-content: space-evenly;
    /* text-align: center; */
}

.g_tekst{
    color: rgb(224, 219, 211);
    font-size: 5rem;
    text-align: center;
}

.moj_div2{
    /* głupie ale działa */
    background-color: rgb(47, 49, 59);
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    /* text-align: center; */
}

.przycisk{
    background-color: rgb(224, 219, 211);
    width: auto;
    height: auto;
    border-radius: 5px;
    /* overflow: hidden; */
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.5);
    font-size: 1rem;
    text-align: right;
}

.przycisk1{
    text-align: right;
    padding: 4px;
    margin-right: 10px;
}

.przycisk:active{
    box-shadow: none;
    transform: translateY(2px);
    transition: 0.1s;
}

.wyswietlaneZdj{
    
}